/**=========================
    START Content Box 33
=========================**/
.content-box-33 {
    background: #f5f5f5;
    box-shadow: 5px 9px 30px 0px rgb(70 74 91 / 8%);
    padding: 50px 40px;
    border-radius: 30px;
    text-align: left;
    position: relative;
    z-index: 0;
    transition: all .4s;
    margin-bottom: 30px;
    z-index: 0;
}

.content-box-33:after {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #e7ffe7;
    content: "";
    bottom: 0;
    right: 0;
    transition: .4s;
    border-bottom-right-radius: inherit;
    border-top-left-radius: 100%;
    z-index: -1;
}

.content-box-33:hover::after {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.content-box-33.color-2:after,
.content-box-33.color-2:hover:after {
    background: #dafcff;
}

.content-box-33.color-3:after,
.content-box-33.color-3:hover:after {
    background: #fee3ff;
}

.content-box-33-title {
    font-size: 22px;
}

.content-box-33-content {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

.content-box-33-icon {
    background: #5eb45e;
    padding: 18px;
    border-radius: 50%;
    font-size: 32px;
    color: white;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    box-shadow: 0px 6px 30px #5eb45eba;
    margin-bottom: 10px;
}

.content-box-33.color-2 .content-box-33-icon {
    background: #58b8c0;
    box-shadow: 0px 10px 30px #58b8c0bd;
}

.content-box-33.color-3 .content-box-33-icon {
    background: #bb58c0;
    box-shadow: 0px 10px 30px #bb58c0b5;
}

.content-box-33-button {
    color: #79c379;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}

.content-box-33.color-2 .content-box-33-button {
    color: #3cc7d3;
}

.content-box-33.color-3 .content-box-33-button {
    color: #c36cc7;
}

/**=========================
    END Content Box 33
=========================**/